<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">

		<title>Eat-Da-Burger</title>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
		<link rel="stylesheet" href="/assets/css/style.css" type="text/css" />
		<link href="https://fonts.googleapis.com/css?family=Mogra" rel="stylesheet">
	</head>
	<body>

		<div class="container">
			<div class="row">
			  <div class="span4"></div>
			  <div class="span4"><img class="center-block img-rounded" id="burger" src="/assets/img/burger.jpg" alt="burger"/></div>
			  <div class="span4"></div>
			</div>
			<h3>Eat-Da-Burger!</h3>
				{{{ body }}}

		</div>




	</body>
</html>
